{% extends "admin/app.twig" %}

{% block content %}
    <h2>Ви дійсно хочете видалити слайд {{ slide.title }} ?</h2>
    <form method="post" action="/admin/slides/delete/{{ slide.id }}">
        <input type="submit" name="delete" class="btn btn-danger" value="Видалити">
        <a href="/admin/slides" class="btn btn-info">Відміна</a>
    </form>
{% endblock %}